html, body, .App, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.gm-style-cc { display:none; }

a[href^="https://maps.google.com/maps"]{display:none !important}